spring:
    application:
        name: microservicio-gateway

    cloud:
        gateway:
            discovery:
                locator:
                    enabled: true
                    lower-case-service-id: true

server:
    port: 80

eureka:
    client:
        register-with-eureka: true
        service-url:
            defaultZone: http://10.43.103.229:8761/eureka/
    instance:
        prefer-ip-address: true

# Enable debug logging for troubleshooting
logging:
    level:
        '[org.springframework.cloud.gateway]': DEBUG
        '[org.springframework.cloud.netflix.eureka]': DEBUG
        root: INFO
